mixin check(name, value, isRadio)

	- id = value?'check-'+name+'-'+value:'check-'+name
	- value = value?value:''
	- type = isRadio?'radio':'checkbox'

	+b.check
		input.check__input(type=type id=id name=name value=value)&attributes(attributes)
		label.check__label(for=id)
			.check__checker-wrapper
				.check__checker
			.check__title
				block
