mixin check(name, value, isRadio)

	- id = value?'check-'+name+'-'+value:'check-'+name
	- value = value?value:''
	- type = isRadio?'radio':'checkbox'

	+b.check
		input.check__input(type=type id=id name=name value=value)&attributes(attributes)
		label.check__label(for=id)
			span.check__checker-wrapper
				span.check__checker
			span.check__title
				block

mixin check-label(name, value, isCheck)

	- id = 'check-'+name+'-'+value
	- type = isCheck?'checkbox':'radio'

	+b.check-label&attributes(attributes)
		input.check-label__input(type=type id=id  value=value name=name class=isCheck?'js-check':'js-radio' required)
		label.check-label__label(for=id)
			span
				block
